* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eef1f5;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 870px;
    margin: auto;
    overflow: hidden;
    padding-top: 25px;
 
}

.slide{
    display: flex;
    width: 100%;
    
}

#nextBtn {
    position: absolute;
    top: 45%;
    width: 140px;
    height: 70px;
    border-radius: 25px;
    font-size: 20px;
    right: 3.5%;
    cursor: pointer;
    background-color: #d8d4d1;
}

#prevBtn {
    position: absolute;
    top: 45%;
    width: 140px;
    height: 70px;
    border-radius: 25px;
    font-size: 20px;
    left: 3.5%;
    cursor: pointer;
    background-color: #d8d4d1;
}

#nextBtn:hover {
    background-color: #FF8766;
}
#prevBtn:hover {
    background-color: #FF8766;
}